gestion-clients-factures/src/main/resources/invoices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Invoice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="IDInvoice" type="xs:string"/>
                <xs:element name="IDClient" type="xs:string"/>
                <xs:element name="Montant" type="xs:double"/>
                <xs:element name="DateEmission" type="xs:date"/>
                <xs:element name="Statut" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
